body{
    background-color: #cfabff;
    font-family: Arial, sans-serif;

}

header{
    background-color: #fdf;
    width: 100%;
    height: 20%;
    padding: 10px 20px 20px 10px;
    border-radius: 40px;
}  
.contenido_todo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 40px;
}

.lado_izquierdo{
    width: 60%;
}

.lado_derecho{
    width: 30%;
    justify-items: center;
    align-items: center;
    flex-direction: center;
    padding: 30px 20px 20px 10px;
}

.nombre{
    color: #1f1211;
    width: 100%;
    text-align: left;
}

.frase{
    color: black;
    width: 100%;
    text-align: left;
}
.icon{
    width: 50px;
    height: 50px;
}

.btn-icon{
    padding: 10px 20px 20px 10px;
    text-decoration: none;
}

.skills{
    background-color: #efbefe;
    border-radius: 10px;
    width: 70%;
    padding-left: 30px;
    margin-top: 30px;
    font-size: 30px;
    
}

.enviar{
    width: 80px;
    height: 30px;

}

.amar{
    width: 100px;
    height: 30px;
    margin-right: 20px;
    border-bottom: #9e0090 solid 2px;
    margin-bottom: 50px;
    
}

.footer_completo{
    background-color: rgb(48, 0, 67);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    padding: 10px 20px 20px 10px;
    color: white;
    border-radius: 30px;

}

.Footer-Lado_izquierdo{
    margin: 30px;
    margin-right: 10px;
}

.Footer-Lado_derecho{
    margin-top: 60px;
    margin-left: 50px;
}

.pantalla-principal{
    display: flex;
}

.imagen_pelado_serio{
    width: 300px;
    height: 500
    70px;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 30px;
}

.mia{
    width: 300px;
    height: 300px;
    margin-left: 100px;
    border-radius: 30px;
}